* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

// 大盒子
#kid-slider {
    height: 100vh;

    // 輪播項目
    .kid-item {
        position: relative;
        height: 100%;
        width: 100%;

        // 圖片
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        // 標題
        h1 {
            position: absolute;
            color: white;
            top: 100px;
            left: 150px;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            z-index: 2;
        }
    }
}